<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuevo producto</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <header>
        <nav>
        <a href="/">Inicio</a>
        <a href="/productos">Productos</a>
        <a href="/usuarios">Usuario</a>
        <a href="/carrito">Carrito</a>
        <a href="/categorias">Categorías</a>
        <a href="/inventario">Inventario</a>
    </nav>
    </header>

<main class="contenedor">
    <h1>Crear nuevo producto</h1>

    <form action="/inventario" method="POST">
    <label for="nombre">Nombre</label>
    <input id="nombre" name="nombre" type="text" required />

    <div style="margin-top:12px;">
        <button type="submit">Guardar</button>
        <a class="btn" href="/inventario">Cancelar</a>
    </div>
    </form>
</main>
</body>
</html>