<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="/usuarios">Usuario</a>
            <a href="/carrito">Carrito</a>
            <a href="/categorias">Categorías</a>
        </nav>
    </header>
    <main>
        <h1>Categorías</h1>
            <div class="contenedor">
                <a href="/categorias/create">Crear Nueva Categoría</a>
                <table>
                    <thead>
                        <tr>
                            <th>Nombre</th>
                        </tr>
                    </thead>
                        <tbody>
                            <% categorias.forEach(categoria => { %>
                                <tr>
                                    <td><a href="/categorias/<%= categoria.id %>"><%= categoria.nombre %></a></td>
                                </tr>
                            <% }) %>
                        </tbody>
                </table>
            </div>
    </main>
</body>
</html>