<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Categoría</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Detalle de Categoría</h1>
    <h2><%= categoria.nombre %></h2>

</body>
</html>